body{
    background-color: #e8e2e1;    
}

h1, h2{
    color: #5c3829;  
}

h3{
    margin-top: 15px;
    font-weight: bold;
}

img{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.felkover{    
    color: rgb(16, 37, 82);
}

.dolt{
    color: rgb(16, 37, 82);
}

.jobbra a, #link a{
    color: rgb(16, 37, 82);
    font-variant: small-caps;    
    padding: 5px;
}

.jobbra a:hover, #link a:hover{
    background-color: green;
}

.jobbra{
    text-align: right;
    font-style: italic;
}

nav, footer {
  background-color: #024600;
}

header {
  height: 350px;
  background-image: url('../img/tiger_bg.jpg');
  background-position: center;
  background-size: cover;
}
